body, html {
    margin: 0;
}

.indent1 {
    margin-left: 8px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.titleh {
    margin-bottom: 30px;
}

table {
    border: 0;
}

th {
    border: 1px solid rgb(33, 37, 41);
    background-color: rgb(33, 37, 41);
    color: #ffffff;
    text-align:center;
}