@{
    ViewBag.Title = "About";
    string n = @"
                <li class='nav-item'>
                    <a class='nav-link' href='Login'>Home</a>
                </li>
                <li class='nav-item active'>
                    <a class='nav-link' href='About'>About <span class='sr-only'>(current)</span></a>
                </li>
                ";
    if (HttpContext.Current.Session["Username"] == null)
    {
        n += @"
                <li class='nav-item'>
                    <a class='nav-link' href='Signup'>Signup</a>
                </li>
            ";
    }
    ViewBag.nav = new HtmlString(n);
}

<div class="indent1">
    <h3>What we do</h3>
    <p>Here at Tasky we create the finest of apps to suit your needs. We store your tasks for as long as you need, at whatever date you need. Blah blah blah cloud services blah blah ASP blah blah buzzwords blah. Something something visual appeal, something something tasks.</p>
    <p>Interested? Get Started!</p>

</div>
