@{
    ViewBag.Title = "About";
    string n = @"
        <li class='nav-item'>
            <a class='nav-link' href='Login'>Home</a>
        </li>
        <li class='nav-item active'>
            <a class='nav-link' href='About'>About <span class='sr-only'>(current)</span></a>
        </li>
        ";
    if (HttpContext.Current.Session["Username"] == null)
    {
        n += @"
        <li class='nav-item'>
            <a class='nav-link' href='Signup'>Signup</a>
        </li>
    ";
    }
    ViewBag.nav = new HtmlString(n);
}

<div class="indent1">
    <h3>What we do</h3>
    <p>Here at Tasky we create the finest of apps to suit your needs. We store your tasks for as long as you need, at whatever date you need. We want to create something you love to use. If you want to give us feedback, find some contact information below and let us know your opinions!</p>
    <p>Interested? Get Started!</p>
    <form action="@Url.Action("Signup", "Home")">
        <input class="btn btn-primary" type="submit" value="Signup" />
    </form>

    <br />
    <br />
    <h3>Contact Us</h3>
    <p>Want to get in contact? Here's all you need to know!</p>
    <p>
        <b>Address:</b><br />
        555 Wayward Lane<br />
        Toronto, Ontario<br />
        M5F 3G6
    </p>
    <p>
        <b>Email: </b>contact@tasky.org<br />
        <b>Phone: </b>444-668-9476
    </p>
</div>
