@using System.Configuration;
@using System.Data.SqlClient;
@{
	Layout = null;
	bool failed = false;

	if (IsPost)
	{
		if (Request.Form["Signup"] != null)
		{
			Response.Redirect("~/Home/Signup");
		}
		else if (Request.Form["Login"] != null)
		{
			SqlConnection connect = new SqlConnection(ConfigurationManager.ConnectionStrings["Login"].ConnectionString);
			connect.Open();
			string query = "SELECT COUNT(*) from Users where Usr='" + Request.Form["UserName"] + "' AND Password='" + Request.Form["Password"] + "'";
			SqlCommand Login = new SqlCommand(query, connect);

			int count = Convert.ToInt32(Login.ExecuteScalar());

			if (count == 1)
			{

				if (Request.Form["UserName"] == "admin")
				{
					Response.Redirect("~/Home/Admin");
				}
				else
				{
					Response.Redirect("/Home/Index");
				}
			}
			else
			{
				failed = true;
			}
			connect.Close();
		}
	}
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Login</title>
</head>
<body>
	<form id="form1" method="post">
		<p>
			Username:
			<input name="UserName" type="text">
		</p>
		<p>
			Password:
			<input name="Password" type="password">
		</p>
		<p>
			<input name="Login" type="submit" value="Login" />
			&nbsp;&nbsp;
			<input name="Signup" type="submit" value="Signup" />
		</p>
		<p>
			@{
				if (failed)
				{
					@String.Format("Login failed.")
				}
			}
		</p>
	</form>
</body>
</html>
